form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
}

.barcodePanel {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 150px;

  &.isLong {
    width: 230px;

    svg {
      margin-left: -16px;
    }
  }
}

ion-list {
  margin-top: 50px;
  margin-bottom: 70px;
}

ion-item-group {
  flex: 1;
}

#recaptcha2 {
  min-height: 78px;
}
