ion-content {
  --background: transparent !important;
}

ion-footer {
  padding-bottom: 30px;

  ion-button {
    min-width: 170px;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80%;

  header {
  }

  section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    ion-button.scan {
      min-width: 200px;
    }
  }
}

.scanArea {
  width: 280px;
  height: 280px;

  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -140px;
  margin-left: -140px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end !important;
  padding-bottom: 7px;

  border: 1px solid silver;
}

h2 {
  font-size: 50px;
}

.flag {
  font-size: 70px;
}

.image {
  img {
    max-height: 200px;
  }
}
